@using Core.DTOs
@using Core.Entities
@model Project

@{
    string[] dateErrors = new string[2] { null, null };
    if (ViewBag.DateErrors != null)
    {
        dateErrors = ViewBag.DateErrors;
    }
}

@*<script>
        $(function () {
            $("#StartDate").datepicker();
            $("#EndDate").datepicker();
        });
    </script>
*@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="basic-form">
                    <form action="/Project/UpdateProject" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(x => x.ProjectId)
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Project Name</label>
                                <input class="form-control" asp-for="ProjectName" />
                                <span class="text-danger" asp-validation-for="ProjectName"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label>Select Client</label>
                                <select class="form-control" asp-for="ClientId">
                                    <option selected disabled>Choose</option>
                                    @{
                                        foreach (var client in (List<Client>)ViewBag.Clients)
                                        {
                                            if (client.ClientId == Model.ClientId)
                                            {
                                                <option selected value="@client.ClientId">@client.ClientName - @client.ClientStreetAddress</option>

                                            }
                                            else
                                            {
                                                <option value="@client.ClientId">@client.ClientName - @client.ClientStreetAddress - @client.ClientEmail</option>

                                            }
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="ClientId"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Start Date</label>
                                <input type="date" class="form-control" asp-for="StartDate" />
                                @if (dateErrors[0] != null)
                                {
                                    <span class="text-danger">@dateErrors[0]</span>
                                }
                            </div>

                            <div class="form-group col-md-6">
                                <label>End Date</label>
                                <input type="date" class="form-control" asp-for="EndDate" />
                                @if (dateErrors[1] != null)
                                {
                                    <span class="text-danger">@dateErrors[1]</span>
                                }
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Select Project Type</label>
                                <select class="form-control" asp-for="ProjectTypeId">
                                    @{
                                        foreach (var type in (List<ProjectType>)ViewBag.ProjectTypes)
                                        {
                                            if (type.ProjectTypeId == Model.ProjectTypeId)
                                            {
                                                <option selected value="@type.ProjectTypeId">@type.ProjectTypeName</option>
                                            }
                                            else
                                            {
                                                <option value="@type.ProjectTypeId">@type.ProjectTypeName</option>
                                            }

                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="ProjectTypeId"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label>Select Status</label>
                                <select class="form-control" asp-for="ProjectStatusId">
                                    @{
                                        foreach (var status in (List<ProjectStatus>)ViewBag.ProjectStatuses)
                                        {
                                            if (status.ProjectStatusId == Model.ProjectStatusId)
                                            {
                                                <option selected value="@status.ProjectStatusId">@status.ProjectStatusName</option>
                                            }
                                            else
                                            {
                                                <option value="@status.ProjectStatusId">@status.ProjectStatusName</option>
                                            }

                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="ProjectStatusId"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6 col-sm-12">
                                <label>Contract Amount</label>
                                <input class="form-control" asp-for="ContractAmount" />

                            </div>

                        </div>
                        <input class="form-control btn-primary" style="width:20%; position:relative; left:40%" type="submit" value="Save Changes" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

