@using PMISBLayer.Entities
@model ProjectPhase

@{
    string[] dateErrors = new string[3] { null, null, null };
    if (ViewBag.DateErrors != null)
    {
        dateErrors = ViewBag.DateErrors;
    }
}
<script>
    $(function () {
        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="basic-form">

                    <form action="/Phase/UpdateProjectPhase?projectPhaseId=@Model.ProjectPhaseId&projectId=@ViewBag.ProjectId" method="post">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Project Phase</label>
                                <select class="form-control" asp-for="PhaseId">
                                    <option selected disabled>Choose</option>
                                    @{
                                        foreach (var Phase in (List<Phase>)ViewBag.Phases)
                                        {
                                            if (Phase.PhaseId == Model.PhaseId)
                                            {
                                                <option selected value="@Phase.PhaseId">@Phase.PhaseName</option>
                                            }
                                            else
                                            {
                                                <option value="@Phase.PhaseId">@Phase.PhaseName</option>
                                            }
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="PhaseId"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Start Date</label>
                                <input type="date" class="form-control" asp-for="StartDate" />
                                @if (dateErrors[0] != null)
                                {
                                    <span class="text-danger">@dateErrors[0]</span>
                                }
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label>End Date</label>
                                <input type="date" class="form-control" asp-for="EndDate"/>
                                @if (dateErrors[1] != null)
                                {
                                    <span class="text-danger">@dateErrors[1]</span>
                                }
                                <br />
                                @if (dateErrors[2] != null)
                                {
                                    <span class="text-danger">@dateErrors[2]</span>
                                }
                            </div>
                        </div>
                        <input class="form-control btn-success" style="width:20%; position:relative; left:40%" type="submit" value="Save Changes" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>